<%
  plugin = Redmine::Plugin.find(:automatic_field_selection)
  options = IssueStatus.all.map { |s| [s.name, s.id] }
  settings = Setting["plugin_#{plugin.id}"] || plugin.settings[:default]
  settings[:member_default_status] = {} unless settings[:member_default_status]
  settings = settings.with_indifferent_access
%>
<td>
  <% unless member.user %>
    <%= select_tag "member_default_status[#{member.id}]",
        options_for_select(options, settings[:member_default_status][member.id]),
        {
          include_blank: true,
          onchange: "setDefaultStatusForMember('#{escape_javascript(member.id.to_s)}')"
        }
    %>
  <% end %>
</td>
